<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="style.css" type="text/css" />
</head>
<body>

<h1>Harry Potter Riddles</h1>



<img src="https://c1.staticflickr.com/9/8466/8126530365_4569c764bd_b.jpg" alt="Nature" class="responsive" width="600" height="400">
    
    <div class = "username">
     
   <div class = "button-container">
       
       
        <form action="/action_page.php">
  
  <input type="text" name="guess" value="Please enter a username">
  <br>
  
  <input type="submit" value="Submit">
</form> 
    
    <div class = "box-one">
     <p id = "display">Please come closer, you must understand, I simply cannot see. I've lived long, far from your school, with my humongous family. Who am I?</p>
   <div class = "button-container">
       
       
        <form action="/action_page.php">
  
  <input type="text" name="guess" value="Enter your guess">
  <br>
  
  <input type="submit" value="Submit">
</form> 
  
   <div class = "box-two">
     <p id = "display">In old English, my name means bumblebee, and the Order of Merlin First Class was given to me.</p>
   <div class = "button-container">
       
  
      <form action="/action_page.php">
  
  <input type="text" name="guess" value="Enter your guess">
  <br>
  
  <input type="submit" value="Submit">
</form> 
  
   <div class = "box-three">
     <p id = "display">Our victory in the 1994 Quidditch World Cup drew cheers from some, but certainly not from Viktor Krum.</p>
   <div class = "button-container">
  
      <form action="/action_page.php">
  
  <input type="text" name="guess" value="Enter your guess">
  <br>
  
  <input type="submit" value="Submit">
</form> 
  

</body>
</html>